/* Common style */
a.quarto-navigation-tool[href$=".pdf"],
a.quarto-navigation-tool[href*="/de/"],
a.quarto-navigation-tool[href*="/en/"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin-top: 1.2rem;
  padding: 0.0rem 5.0rem;

  border: 1px solid #000000;
  border-radius: 0.3rem;
  
  text-decoration: none;
  font-weight: 500;
  font-size: 0;
}

/* Space between language button and PDF */
a.quarto-navigation-tool[href*="/en/"],
a.quarto-navigation-tool[href*="/de/"] {
  margin-right: 0.4rem;
}

/* Hide icons */
a.quarto-navigation-tool[href$=".pdf"] i,
a.quarto-navigation-tool[href*="/de/"] i,
a.quarto-navigation-tool[href*="/en/"] i {
  display: none;
}

/* PDF */
a.quarto-navigation-tool[href$=".pdf"] {
  background-color: #ecd2cf;
  color: #000000;
}

a.quarto-navigation-tool[href$=".pdf"]::after {
  content: "PDF";
  font-size: 0.9rem;
}

/* English */
a.quarto-navigation-tool[href*="/en/"] {
  background-color: #b7daf8;
  color: #000000;
}

a.quarto-navigation-tool[href*="/en/"]::after {
  content: "English";
  font-size: 0.9rem;
}

/* Deutsch */
a.quarto-navigation-tool[href*="/de/"] {
  background-color: #b7daf8;
  color: #000000;
}

a.quarto-navigation-tool[href*="/de/"]::after {
  content: "Deutsch";
  font-size: 0.9rem;
}

.begriffstabelle {
  font-size: 0.9rem;
}